@* @model PaginatedList<OrdersRecap.Models.SummaryRecord> *@
@model OrdersRecap.Models.DataContainer

@{
    ViewData["Title"] = "Shopee Recap";
}

<h2>Shopee Recap</h2>

<form enctype="multipart/form-data" method="post">
    <label for="file"></label>
    <input type="file" name="file" id="file" />
    <button type="submit">Upload</button>
</form>

@* <form method="post" enctype="multipart/form-data">
	<input type="file" name="files" multiple />
	<button type="submit">Upload</button>
</form> *@

<!-- To show the success message to the user  -->
@if (ViewBag.Message != null)
{
	<div class="alert alert-success" style="margin-top:50px">
		@ViewBag.Message
	</div>
}

@* <form asp-action="Shopee" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Shopee">Back to Full List</a>
        </p>
    </div>
</form> *@

<br />
<input type="text" id="searchBox" placeholder="Search..." class="form-control mb-3" />
<br />

<table class="table" id="shopeeTable">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Variant
                @* <a asp-action="Shopee" asp-route-sortOrder="@ViewData["VariantParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Variant</a> *@
            </th>
            <th>
                Sub-Variant
                @* <a asp-action="Shopee" asp-route-sortOrder="@ViewData["SubVariantParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Sub-Variant</a> *@
            </th>
            <th>
                Total Quantity (Sum)
                @* <a asp-action="Shopee" asp-route-sortOrder="@ViewData["QuantityParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Total Quantity (Sum)</a> *@
            </th>
            <th>
                Total Pcs
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int rowNo = 0;
        }
        @foreach (var item in Model.summaryRecords)
        {
            @if (Model != null)
            {
                <tr>
                    <td>
                        @(rowNo += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Variant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubVariant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPcs)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

Total Sidu (SD) = @(Model.summaryRecords.Count != 0 ? @Model.SD : "") (@(Model.summaryRecords.Count != 0 ? @Model.SDpcs : ""))
<br />
Total Bigboss (BB) = @(Model.summaryRecords.Count != 0 ? @Model.BB : "") (@(Model.summaryRecords.Count != 0 ? @Model.BBpcs : ""))

@* @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a> *@

@section Scripts {
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchBox").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#shopeeTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}